<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Contacto desde el formulario</h1>
	<hr>
	<p>Has recibido el siguiente contacto desde el formulario</p>
	<p><strong>Desde:</strong></p>
	<p><%= @email %></p>
	<strong>Nombre completo</strong>
	<p><%= @full_name %></p>
	<strong>Motivo del contacto</strong>
	<p><%= @reason %></p>
	<strong>Mensaje: </strong><br/>
	<p><%= @message %></p>
</body>
</html>
